<button 
    style="background-color: rgb(242, 130, 208)">
    <a style="color:#ffffff" href="/sloniki">
        GO BACK
    </a>
</button>

<form method="POST" action="{{action}}">
    <fieldset>
        <label>
            Username
            <input name="username" placeholder="Enter Username" required />
            {{#if errorUsername}}
                <p style="color:#ff0000">{{ErrorUsername}}</p>
             {{/if}}
        </label>
        
        <label>
            Password
            <input type="password" name="password" placeholder="Enter Password" required />
            {{#if errorPassword}}
                <p style="color:#ff0000">{{ErrorPassword}}</p>
            {{/if}}
        </label>
        
        <label>
            Age
            <input type="number" name="age" placeholder="Enter Age" required />
            {{#if errorAge}}
                <p style="color:#ff0000">{{ErrorAge}}</p>
            {{/if}}
        </label>
        
        <label>
            Place of birth
            <input name="place_of_birth" placeholder="Enter Place of birth" required />
            {{#if errorPlaceOfBirth}}
                <p style="color:#ff0000">{{errorPlaceOfBirth}}</p>
            {{/if}}
        </label>
    </fieldset>

    <input
            type="submit"
            value="SAVE"
    />
</form>