<button 
    style="background-color: rgb(242, 130, 208)">
    <a style="color:#ffffff" href="/">
        GO BACK
    </a>
</button>

<table>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">USERNAME</th>
        <th scope="col">AGE</th>
        <th scope="col">PLACE OF BIRTH</th>
        <th scope="col">CREATED AT</th>

    </tr>
    </thead>
    <tbody>
    {{#each sloniki}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.username}}</td>
            <td>{{this.age}}</td>
            <td>{{this.place_of_birth}}</td>
            <td>{{this.created_at_date}}, {{this.created_at_time}} </td>
            
        </tr>
    {{/each}}
    </tbody>
</table>
    <p><a style="color:rgb(229, 102, 168)" href="/sloniki/create">ADD SLONIK</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/sloniki/delete">DELETE SLONIK</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/sloniki/update">UPDATE SLONIK</a></p>
